<h2>Edit Club</h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "clubs", action: "update", method: "patch"}) do %>
<input type="hidden" name="_method" value="patch" />
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<label>Name:</label>
<%= text_field_tag "club[name]", @club.name %><br>

<label>Resident City:</label>
<%= text_field_tag "club[city]", @club.city %><br>

<label>Resident Nation:</label>
<%= text_field_tag "club[nation]", @club.nation %><br>

<label>League/Division:</label>
<%= text_field_tag "club[league_division]", @club.league_division %><br>

<%= hidden_field_tag "club[user_id]", @club.user_id %><br>

<%= hidden_field_tag "club[id]", @club.id %><br>

<%= submit_tag "Update Club" %>
<% end %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
