<h2>Create a New Club</h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "clubs", action: "create", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "club[name]" %><br>

<label>Resident City:</label>
<%= text_field_tag "club[city]" %><br>

<label>Resident Nation:</label>
<%= text_field_tag "club[nation]" %><br>

<label>League/Division:</label>
<%= text_field_tag "club[league_division]" %><br>

<%= hidden_field_tag "club[user_id]", session[:user_id] %><br>

<%= submit_tag "Create Club" %>
<% end %>
