<h1><%= @club.name %></h1>
<p>Resident City: <%= @club.city %></p><br>
<p>Resident Nation: <%= @club.nation %></p><br>
<p>League Division: <%= @club.league_division %></p>

<% if @club.players.length > 0 %>
<% @club.players.each do |player| %>
<%= link_to "#{player.name}", user_player_path(player.user, player) %>
<% end %>
<% end %>

<%= link_to "Edit: #{@club.name}", edit_user_club_path(@club.user, @club) %>

<%= form_tag ({controller: "clubs", action: "destroy", method: "delete"}) do %>
<%= submit_tag "Delete Club" %>
<% end %>
