<h2>Edit Futbolista</h2><br>

<% if @error_message %>
<p><%= "#{@error_message}" %></p>
<% end %>

<%= form_tag ({controller: "futbolistas", action: "update", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "futbolista[name]", @futbolista.name %><br>

<label>Country of Origin:</label>
<%= text_field_tag "futbolista[country_of_origin]", @futbolista.country_of_origin %>

<label>Position:</label>
<%= text_field_tag "futbolista[position]", @futbolista.position %>

<%= hidden_field_tag "futbolista[user_id]", @futbolista.id %><br>

<%= submit_tag "Update Futbolista" %>
<% end %>
