<h2>Edit Contract Between <%= @contract.player.name %> & <%= @contract.club.name %></h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "contracts", action: "update", method: "patch"}) do %>
<input type="hidden" name="_method" value="patch" />
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<label>Length:</label>
<%= text_field_tag "contract[length]", @contract.length %><br>

<label>Weekly Salary:</label>
<%= text_field_tag "contract[weekly_salary]", @contract.weekly_salary %><br>

<label>Transfer Fee:</label>
<%= text_field_tag "contract[transfer_fee]", @contract.transfer_fee %><br>

<label>Unusual Clauses:</label>
<%= text_field_tag "contract[unusual_clauses]", @contract.unusual_clauses %><br>

<label>Status:</label>
<%= collection_select :contract, :status, Status.all, :wording, :wording %><br>

<%= hidden_field_tag "contract[player_id]", @contract.player_id %>

<%= hidden_field_tag "contract[club_id]", @contract.club_id %>

<label>Agent:</label>
<%= collection_select :contract, :agent_id, Agent.where(user_id: session[:user_id]), :id, :name %><br>

<%= hidden_field_tag "contract[user_id]", @user_id %><br>

<%= hidden_field_tag "contract[id]", @contract.id %><br>

<%= submit_tag "Update Contract" %>
<% end %>
