<h2>Edit Contract</h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "contracts", action: "update", method: "post"}) do %>

<label>Length:</label>
<%= text_field_tag "contract[length]", @contract.length %><br>

<label>Weekly Salary:</label>
<%= text_field_tag "contract[weekly_salary]", @contract.weekly_salary %><br>

<label>Transfer Fee:</label>
<%= text_field_tag "contract[transfer_fee]", @contract.transfer_fee %><br>

<label>Unusual Clauses:</label>
<%= text_field_tag "contract[unusual_clauses]", @contract.unusual_clauses %><br>

<label>Status:</label>
<%= collection_select :contract, :status, Status.all, :wording, :wording %><br>

<label>Player:</label>
<%= collection_select :contract, :player_id, Player.where(user_id: session[:user_id]), :id, :name %><br>

<label>Club:</label>
<%= collection_select :contract, :club_id, Club.where(user_id: session[:user_id]), :id, :name %><br>

<label>Agent:</label>
<%= collection_select :contract, :agent_id, Agent.where(user_id: session[:user_id]), :id, :name %><br>

<%= hidden_field_tag "contract[user_id]", @user_id %><br>

<%= submit_tag "Update Contract" %>
<% end %>
