<h2>Create a New Contract</h2><br>

<% if @error_message %>
<p><%= "#{@error_message}" %></p>
<% end %>

<%= form_tag ({controller: "contracts", action: "create", method: "post"}) do %>

<label>Length:</label>
<%= text_field_tag "contract[length]" %><br>

<label>Weekly Salary:</label>
<%= text_field_tag "contract[weekly_salary]" %><br>

<label>Transfer Fee:</label>
<%= text_field_tag "contract[transfer_fee]" %><br>

<label>Unusual Clauses:</label>
<%= text_field_tag "contract[unusual_clauses]" %><br>

<label>Status:</label>
<%= collection_select :contract, :status, Status.all, :wording, :wording %><br>

<label>Player:</label>
<%= collection_select :contract, :player_id, Player.all, :id, :name %><br>

<label>Club:</label>
<%= collection_select :contract, :club_id, Club.all, :id, :name %><br>

<label>Agent:</label>
<%= collection_select :contract, :agent_id, Agent.all, :id, :name %><br>

<%= hidden_field_tag "contract[user_id]", @user_id %><br>

<%= submit_tag "Create Contract" %>
<% end %>
