<% if @contract.valid? %>
<h1>Contract between <%= @contract.player.name %> and <%= @contract.club.name %></h1>
<p>Contract Length: <%= @contract.length %></p><br>
<p>Weekly Salary: <%= @contract.weekly_salary %></p><br>
<p>Transfer Fee: <%= @contract.transfer_fee %></p><br>
<p>Unusual Clauses: <%= @contract.unusual_clauses %></p><br>
<p>Current Status: <%= @contract.status %></p><br>
<p>Player Agent: <%= @contract.agent.name %></p><br>
<% else %>
<p>Click the link below to add data to this contract</p>
<% end %>

<%= link_to "Edit This Contract", edit_user_contract_path(@contract.user, @contract) %>

<%= form_tag ({controller: "contracts", action: "destroy", method: "delete"}) do %>
<input type="hidden" name="_method" value="delete" />
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<%= submit_tag "Delete Contract" %>
<% end %>

<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
