<h1>Contract between <%= @contract.futbolista.name %> and <%= @contract.club.name %></h1>
<p>Contract Length: <%= @contract.length %></p><br>
<p>Weekly Salary: <%= @contract.weekly_salary %></p><br>
<p>Transfer Fee: <%= @contract.transfer_fee %></p><br>
<p>Unusual Clauses: <%= @contract.unusual_clauses %></p><br>
<p>Current Status: <%= @contract.status %></p><br>
<p>Player Agent: <%= @contract.agent %></p><br>

<%= link_to "Edit This Contract", edit_user_contract_path(@contract.user, @contract) %>

<%= form_tag ({controller: "contracts", action: "destroy", method: "delete"}) do %>
<%= submit_tag "Delete Contract" %>
<% end %>
