<% if @error_message %>
<p><%= "#{@error_message}" %></p><br>
<% end %>
<%= form_for(@user) do |f| %>

<%= f.label "Name" %>
<%= f.text_field :name %><br>

<%= f.label "Password" %>
<%= f.text_field :password %><br>

<%= f.submit "Create User" %>
<% end %>
