<h1><%= @user.name %></h1>
<% if @error_message %>
<p><%= "#{@error_message}" %></p><br>
<% end %>
<%= link_to "Your Contract Investigations", user_contracts_path(@user) %><br>
<%= link_to "Your Players", user_players_path(@user) %><br>
<%= link_to "Your Clubs", user_clubs_path(@user) %><br>
<%= link_to "Your Agents", user_agents_path(@user), class: 'agents' %><br>

<br><%= link_to "Your Trophies", trophy_path(@user) %><br>
<%= link_to "Logout", logout_path %>