<h2>Edit Agent</h2><br>

<%= render 'error' %>


<%= form_tag ({controller: "agents", action: "update", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "agent[name]", @agent.name %><br>

<label>Country of Origin:</label>
<%= text_field_tag "agent[country_of_origin]", @agent.country_of_origin %>

<%= hidden_field_tag "agent[user_id]", @agent.user_id %><br>

<%= hidden_field_tag "agent[id]", @agent.id %><br>

<%= submit_tag "Update Agent" %>
<% end %>
