<h2>Create a New Agent</h2><br>

<%= render 'error' %>


<%= form_tag ({controller: "agents", action: "create", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "agent[name]" %><br>

<label>Country of Origin:</label>
<%= text_field_tag "agent[country_of_origin]" %>

<%= hidden_field_tag "agent[user_id]", session[:user_id] %><br>

<%= submit_tag "Create Agent" %>
<% end %>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
