<h1><%= @agent.name %></h1>
<p>Country of Origin: <%= @agent.country_of_origin %></p>

<% if @agent.futbolistas.length > 0 %>
<% @agent.futbolistas.each do |futbolista| %>
<%= link_to "#{futbolista.name}", user_futbolista_path(futbolista.user, futbolista) %>
<% end %>
<% end %>

<%= link_to "Edit: #{@agent.name}", edit_user_agent_path(@agent.user, @agent) %>

<%= form_tag ({controller: "agents", action: "destroy", method: "delete"}) do %>
<%= submit_tag "Delete Agent" %>
<% end %>
