<h1><%= @agent.name %></h1>
<p>Country of Origin: <%= @agent.country_of_origin %></p>

<%= link_to "Edit: #{@agent.name}", edit_user_agent_path(@agent.user, @agent) %>

<%= form_tag ({controller: "agents", action: "destroy", method: "delete"}) do %>
<input type="hidden" name="_method" value="delete" />
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
<%= submit_tag "Delete Agent" %>
<% end %>

<br>
<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
