<h2>Edit Players</h2><br>

<% if @error_message %>
<p><%= "#{@error_message}" %></p>
<% end %>

<%= form_tag ({controller: "players", action: "update", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "player[name]", @player.name %><br>

<label>Country of Origin:</label>
<%= text_field_tag "player[country_of_origin]", @player.country_of_origin %>

<label>Position:</label>
<%= text_field_tag "player[position]", @player.position %>

<%= hidden_field_tag "player[user_id]", @player.user_id %><br>

<%= submit_tag "Update Player" %>
<% end %>
