<h2>Edit Players</h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "players", action: "update", method: "patch"}) do %>
<input type="hidden" name="_method" value="patch" />
<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

<label>Name:</label>
<%= text_field_tag "player[name]", @player.name %><br>

<label>Country of Origin:</label>
<%= text_field_tag "player[country_of_origin]", @player.country_of_origin %><br>

<label>Position:</label>
<%= text_field_tag "player[position]", @player.position %><br>

<label>Agent:</label>
<%= collection_select :player, :agent_id, Agent.where(user_id: session[:user_id]), :id, :name %><br>

<label>Club:</label>
<%= collection_select :player, :club_id, Club.where(user_id: session[:user_id]), :id, :name %><br>

<%= hidden_field_tag "player[user_id]", @player.user_id %><br>

<%= hidden_field_tag "player[id]", @player.id %><br>

<%= submit_tag "Update Player" %>
<% end %>
