<h2>Create a New Player</h2><br>

<%= render 'error' %>

<%= form_tag ({controller: "players", action: "create", method: "post"}) do %>

<label>Name:</label>
<%= text_field_tag "player[name]" %><br>

<label>Country of Origin:</label>
<%= text_field_tag "player[country_of_origin]" %><br>

<label>Position:</label>
<%= text_field_tag "player[position]" %><br>

<label>Agent:</label>
<%= collection_select :player, :agent_id, Agent.where(user_id: session[:user_id]), :id, :name, {:include_blank => 'none'} %><br>

<label>Club:</label>
<%= collection_select :player, :club_id, Club.where(user_id: session[:user_id]), :id, :name, {:include_blank => 'none'} %><br>

<%= hidden_field_tag "player[user_id]", session[:user_id] %><br>

<%= submit_tag "Create Player" %>
<% end %>

<p>The agent and club you'd like to select must be created prior to selecting them on this form.</p><br>
<%= link_to "Create New Agent", new_user_agent_path(User.find_by_id(session[:user_id])) %><br>
<%= link_to "Create New Club", new_user_club_path(User.find_by_id(session[:user_id])) %><br><br>
