<h1><%= @player.name %></h1>
<p>Country of Origin: <%= @player.country_of_origin %></p>
<p>Position: <%= @player.position %></p>
<p>Club: <%= @player.club.name %></p>
<p>Agent: <%= @player.agent.name %></p>


<%= link_to "Edit: #{@player.name}", edit_user_player_path(@player.user, @player) %>

<%= form_tag ({controller: "players", action: "destroy", method: "delete"}) do %>
<%= submit_tag "Delete Player" %>
<% end %>

<br><label>All Contracts (past, current, future):</label><br>
<% if @player.contracts.length > 0 %>
<% counter = 1 %>
<% @player.contracts.each do |contract| %>
<%= link_to "Player Contract #{counter}: #{contract.status}", user_contract_path(contract.user, contract) %>
<% end %>
<% end %>

<br><%= link_to "Your Home Page", user_path(User.find_by_id(session[:user_id])) %>
